<ion-header no-border="">
  <ion-navbar color="primary">
    <ion-title>{{ provider?.name }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onShare()">
        <ion-icon name="share"></ion-icon>
      </button>
      <button ion-button icon-only (click)="EditPassword()">
        <ion-icon name="lock"></ion-icon>
      </button>
      <button ion-button icon-only (click)="LogOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #container>

  <ion-refresher (ionRefresh)="onReload($event)">

    <ion-refresher-content pullingText="Pull to Refresh" refreshingText="Refreshing..."></ion-refresher-content>

  </ion-refresher>

  <div class="card-img" style="position:relative;">
    <p style="position:absolute;right:10px;top:10px" (click)="onUpload()">
      <ion-icon color="light" name="create"></ion-icon>
    </p>
    <img-loader [src]="provider?.url" (load)="onImageLoad($event)"></img-loader>
  </div>


  <div class="card-container">

    <ion-card class="radius-top card-top" color="light">
      <ion-card-content>
        <div style="position:relative;">

          <p style="position:absolute;right:10px;top:10px" (click)="EditInfo()">
            <ion-icon color="primary" name="create"></ion-icon>
          </p>

          <div class="content_">
            <div class="heading_" style="margin-top: 0">
              <h2>{{ provider?.name }}</h2>
            </div>
          </div>

          <span *ngIf="reviews && reviews.length > 0" style="display: flex">
            <star-rating [starType]="'svg'" [size]="'medium'" [readOnly]="true" [showHalfStars]="false" [rating]="provider?.rating"></star-rating>
            <span class="dark">({{reviews.length}})</span>
        </span>

          <p>
            <ion-icon color="dark" name="briefcase"></ion-icon>
            <span color="dark" class="text-small" ion-text>
               {{ provider?.title }}
            </span>
          </p>
          <p>
            <ion-icon color="dark" name="pin"></ion-icon>
            <span color="dark" class="text-small" ion-text>
               {{ provider?.description }}
            </span>
          </p>
        </div>

        <hr>

        <section class="content_"  style="position:relative;">

          <p style="position:absolute;right:10px;top:10px" (click)="EditContact()">
            <ion-icon color="primary" name="create"></ion-icon>
          </p>

          <div class="heading_" style="margin-top:5px;">
            <h2>Contacts</h2>
          </div>

          <p *ngIf="provider?.number">
            <ion-icon color="dark" name="call"></ion-icon>
            <span color="dark" class="text-small" ion-text>
               {{provider?.number}}
            </span>
          </p>

          <p *ngIf="provider?.email">
            <ion-icon color="dark" name="mail"></ion-icon>
            <span color="dark" class="text-small" ion-text>
               {{provider?.email}}
            </span>
          </p>

        </section>

        <hr *ngIf="categories.length > 0 || services.length > 0">


        <section class="content_" *ngIf="categories.length > 0" style="position:relative;">

          <p style="position:absolute;right:10px;top:10px" (click)="EditServices()">
            <ion-icon color="primary" name="create"></ion-icon>
          </p>

          <div class="heading_">
            <h2>Category</h2>
          </div>

          <ion-scroll scrollX="true" direction="x" style="height: 70px">
            <ion-row nowrap align-items-center margin-horizontal>
              <ion-col col-auto float-left *ngFor="let category of categories">
                <button ion-button round  class="outline" style="margin-bottom: 15px;">{{category.name}}</button>
              </ion-col>
            </ion-row>
          </ion-scroll>


          <div class="heading_" *ngIf="services.length > 0" style="margin-top:0;">
            <h2>Services</h2>
          </div>

          <ion-scroll *ngIf="services.length > 0" scrollX="true" direction="x" style="height: 70px">
            <ion-row nowrap align-items-center margin-horizontal>
              <ion-col col-auto float-left *ngFor="let service of services">
                <button ion-button round class="outline" style="margin-bottom: 15px;">{{service.title}}</button>
              </ion-col>
            </ion-row>
          </ion-scroll>

        </section>

      </ion-card-content>
    </ion-card>
  </div>

  <section padding margin-top>

    <ion-row align-items-center>
      <ion-col col-8>
        <h5 no-margin>
          <ion-icon class="text-medium" name="chatbubbles" color="accent"></ion-icon>
          Comments and Reactions
        </h5>
      </ion-col>
    </ion-row>

    <div *ngIf="reviews.length === 0" text-center>
      <p class="text-medium" color="accent">
        No reviews found
      </p>
    </div>

    <ion-list *ngIf="reviews && reviews.length > 0" no-lines>
      <div margin-bottom padding class="radius light-bg border" *ngFor="let review of reviews">
        <ion-item no-padding color="light">
          <ion-avatar item-start>
            <img defaultImage="./assets/imgs/avatar.png"
                 [lazyLoad]="review.user?.avatar?.url"
                 [scrollObservable]="container.ionScroll" />
          </ion-avatar>
          <h2 class="bold no-margin">{{ review.user?.username }}</h2>
          <p class="text-small no-margin" ion-text color="accent">
            {{ review.timeposted | date:'mediumDate' }}
          </p>
          <star-rating *ngIf="review.rating" [starType]="'svg'" [size]="'small'" [readOnly]="true" [showHalfStars]="false" [rating]="review.rating"></star-rating>
        </ion-item>
        <ion-row>
          <ion-col no-padding col-12>
            <p class="text-medium bold no-margin" ion-text color="dark">{{ review.comment }}</p>
          </ion-col>
        </ion-row>
      </div>
    </ion-list>
    <!--<div text-center *ngIf="reviews.length">-->
      <!--<button class="bold" ion-button icon-right clear color="dark" (click)="goToReviews()">-->
        <!--View all reviews-->
        <!--<ion-icon name="arrow-round-forward"></ion-icon>-->
      <!--</button>-->
    <!--</div>-->

  </section>

</ion-content>
